---
layout: default
class: features
permalink: /vote/
---

<div class="Feature">

  <div class="Screenshot Screenshot--dark Screenshot--right Screenshot--touchCode">
    <figure class="Screenshot-image"></figure>

    <div class="Screenshot-text">
      <h4>Optimized, Inside and Out</h4>
      <p>The desktop and mobile versions of Flarum use exactly the same templates. That means less work for developers, and a more consistent interface for users, no matter what size your device.</p>
    </div>
  </div>
</div>

{% include team.html %}

{% include actions.html %}
