<footer class="Footer">
  <div class="container">
    <div class="Footer-social" style="padding-bottom: 5px;">
      <a class="github-button" href="https://github.com/shadowga" aria-label="Follow @shadowga on GitHub">Follow @shadowga</a>
    </div>
    <div class="Footer-social">
      <a class="twitter-follow-button" href="https://twitter.com/{{ site.twitter_username }}">Follow @{{ site.twitter_username }}</a>
    </div>
    <div class="Footer-copyright">
      <span>Powered by <a href="https://m.do.co/c/7438217b1bcd">DigitalOcean</a></span>
    </div>
  </div>
</footer>

<script async defer src="https://buttons.github.io/buttons.js"></script>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>
