<header class="Header">
  <div class="container">
    <h1 class="Header-brand">
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/img/logo.svg" alt="{{ site.title }}" width="27" height="34">
      </a>
    </h1>

    <nav class="Header-nav">
      {% assign current = page.url | downcase | split: '/' %}
      <a href="https://f.shadow.ga">Community</a>
      <a href="/docs/">Documentation</a>
      <a href="/docs/1/5-support">Support</a>
      <a href="/guild/">Guild</a>
    </nav>
  </div>
</header>
