.animated {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
}

.Intro {
  text-align: center;
  margin-bottom: 100px;
}
.home .Header {
  padding: 0;
  padding-bottom: 20px;
  border: 0;
  text-align: center;
  border-top: 4px solid #c0392b;

  @extend .animated;
  @extend .fadeDown;
}
.home .Header-brand {
  display: none;
}
.home .Header-nav {
  float: none;
  margin-top: 30px;
}
.home .Header-nav a {
  border: 0;
  color: #7E96B3;
  margin: 0 10px 5px;
}
.home .Header-nav a:hover {
  color: #c0392b;
}
.Intro-brand {
  margin: 85px 0 0 0;
  line-height: 1em;
}
.Intro-beta {
  margin: 0 auto;
  width: 298px;
  text-align: right;
  text-transform: uppercase;
  font-size: 18px;
  color: #B0BED1;
}
.Intro h2 {
  color: #3C5675;
  background: none;
  margin-bottom: 15px;
}
.Intro p {
  max-width: 460px;
  font-size: 20px;
  margin: 0 auto 40px;
}
.Intro-actions a {  
  margin: 0 4px 10px;
}

.Home-screenshot {
  margin: 0 20px;
  line-height: 0.0;

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

@include respond-to(handhelds) {
  .Intro {
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .Intro-brand {
    margin-top: 30px;
  }
  .Intro-brand object,
  .Intro-brand img,
  .Intro h2 {
    font-size: 30px;
  }
  .Intro-actions a {
    display: block;
  }
  .Home-screenshot {
    display: none;
  }
}

.Features {
  background: #EFF2F6;
  padding: 60px 0;
  text-align: center;
}
.Features-text {
  font-size: 20px;
  color: #3C5675;
  max-width: 590px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
.Features-actions .Button {
  border-color: #c0392b;
  color: #E7672E;
}
.Features-actions .Button:hover {
  border-color: #B42800;
  color: #B42800;
}

.Carousel {
  height: 140px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto 30px;
}
.Carousel:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  background-image: linear-gradient(to right, rgb(239, 242, 246) 0%, rgba(239, 242, 246, 0) 50%, rgb(239, 242, 246) 100%);
}
.CarouselGroup {
  display: inline-block;
}
.CarouselItem {
  display: inline-block;
  vertical-align: top;
  width: 130px;
  padding: 0 10px;
  white-space: normal;
}
.CarouselItem-icon {
  margin-bottom: 10px;
}

.Banner {
  background: #EFF2F6;
  color: #7E96B3;
  padding: 1px 20px;
  border-radius: 4px;
  font-size: 18px;
  text-align: center;
  width: 600px;
  margin: auto;
}

@include respond-to(handhelds) {
  .Features {
    padding: 30px 0;
  }
  .CarouselItem {
    width: 75px;
  }
}

.Team {
  text-align: center;
  padding: 60px 0;
}
.Team-members {
  margin-bottom: 30px;
}
.Team-member {
  display: inline-block;
  width: 190px;
  vertical-align: top;
}
.Team-member h3 {
  margin: 0;
}
.Team-member h3 a {
  border: 0;
  color: #E7672E;
  font-weight: normal;
  font-size: 20px;
}
.Team-member h3 img {
  display: block;
  margin: 0 auto 10px;
}
.Team-member h4 {
  font-weight: normal;
  font-size: 16px;
  margin: 0;
}
.Team-text {
  font-size: 20px;
  color: #3C5675;
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

@include respond-to(handhelds) {
.Footer-home {
  background: rgba(255,255,255,0);
  }
}

@include respond-to(handhelds) {
  .Team {
    padding: 30px 0;
  }
  .Team-member {
    width: 150px;
  }
}

.Actions {
  background-image: linear-gradient(to bottom, rgb(239, 242, 246) 0%, rgba(239, 242, 246, 0) 250px);
  padding: 60px 0;
}
.Actions-item {
  width: 33%;
  padding: 0 35px;
  box-sizing: border-box;
  float: left;
  text-align: center;
}
.Actions-item h3 {
  font-weight: normal;
  font-size: 30px;
  color: #c0392b;
  margin: 0 0 10px;
}
.Actions-item h4 {
  font-weight: normal;
  font-size: 20px;
  color: #3C5675;
  margin: 0;
}
.Actions-item p {
  margin: 0.5em 0 1.5em;
}

@include respond-to(handhelds) {
  .Actions {
    padding: 30px 0;
  }
  .Actions-item {
    width: auto;
    float: none;
    margin-bottom: 30px;
    padding: 0;
  }
}
